
@{
    ViewBag.Title = "Detail";
}
@using System.Globalization
@model Navigation.Models.vwDetails
<!--============================= BOOKING =============================-->

<div>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var photo in Model.Listing.Photos)
            {
                if (photo != null)
                {
                    <div class="swiper-slide">
                        <a href="/Public/images/PlacePhoto/@photo.PlacePhoto" class="grid image-link">
                            <img src="/Public/images/PlacePhoto/@photo.PlacePhoto" class="img-fluid" alt="@photo.PlacePhoto">
                        </a>
                    </div>
                }


            }


        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</div>
<!--//END BOOKING -->
<!--============================= RESERVE A SEAT =============================-->

<section class="reserve-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 style="display: block" id="placeN">@Model.Listing.Title</h5>

                <p class="reserve-description">@Model.Listing.Slogan</p>
            </div>
            <div class="col-md-6">
                <div class="reserve-seat-block align-items-center">
                    <div class="reserve-rating mx-0 mx-md-3">
                        <span>@ViewBag.Rating</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--//END RESERVE A SEAT -->
<!--============================= BOOKING DETAILS =============================-->

<section class="gray-dark booking-details_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 responsive-wrap">
                <div class="booking-checkbox_wrap">
                    <div class="booking-checkbox">
                        @Html.Raw(Model.Listing.Description)
                        <hr>
                    </div>
                    <div class="row">


                        <div class="col-md-4">
                            @foreach (var item in Model.ListServices.OrderBy(x => x.ServiceId).Take(2))
                            {
                                <label class="custom-checkbox">
                                    <span class="ti-check-box"></span>
                                    <span class="custom-control-description">@item.Service.Name</span>
                                </label><br />
                            }


                        </div>
                        <div class="col-md-4">
                            @foreach (var item in Model.ListServices.OrderBy(x => x.ServiceId).Skip(2).Take(2))
                            {
                                <label class="custom-checkbox">
                                    <span class="ti-check-box"></span>
                                    <span class="custom-control-description">@item.Service.Name</span>
                                </label><br />
                            }

                        </div>
                        <div class="col-md-4">
                            @foreach (var item in Model.ListServices.OrderBy(x => x.ServiceId).Skip(4).Take(2))
                            {
                                <label class="custom-checkbox">
                                    <span class="ti-check-box"></span>
                                    <span class="custom-control-description">@item.Service.Name</span>
                                </label><br />
                            }

                        </div>
                        <div class="col-md-4">
                            @foreach (var item in Model.ListServices.OrderBy(x => x.ServiceId).Skip(6).Take(2))
                            {
                                <label class="custom-checkbox">
                                    <span class="ti-check-box"></span>
                                    <span class="custom-control-description">@item.Service.Name</span>
                                </label><br />
                            }

                        </div>
                        <div class="col-md-4">
                            @foreach (var item in Model.ListServices.OrderBy(x => x.ServiceId).Skip(8).Take(2))
                            {
                                <label class="custom-checkbox">
                                    <span class="ti-check-box"></span>
                                    <span class="custom-control-description">@item.Service.Name</span>
                                </label><br />
                            }

                        </div>
                        <div class="col-md-4">
                            @foreach (var item in Model.ListServices.OrderBy(x => x.ServiceId).Skip(10).Take(2))
                            {
                                <label class="custom-checkbox">
                                    <span class="ti-check-box"></span>
                                    <span class="custom-control-description">@item.Service.Name</span>
                                </label><br />
                            }

                        </div>
                    </div>
                </div>
                @*Commet yazilan hisse *@
                <div class="booking-checkbox_wrap booking-your-review">
                    <h5>Write a Review</h5>
                    <hr>
                    <div class="customer-review_wrap">
                        <div class="customer-img">
                            @if (Model.Listing.User.Photo == null)
                            {
                                <img src="/Public/images/avatar.jpg" class="img-fluid" alt="avatar.jpg">
                            }
                            else
                            {
                                <img src="/Public/images/UserPhoto/@Model.Listing.User.Photo" class="img-fluid" alt="Model.Listing.User.Photo">
                            }

                            <p>@Model.Listing.User.FullName</p>
                        </div>
                        <form action="@Url.Action("Comment","SearchPlace")" method="post" enctype="multipart/form-data" id="commentForm">
                            <div class="customer-content-wrap">
                                <div class="your-rating-wraps">

                                    <input id="input-1" name="Rating" type="number" class="rating rating-loading" data-min="0" data-max="5" data-step="1" data-size="sm">
                                </div>
                                <div class="your-comment-wrap">
                                    <textarea name="Text" class="your-rating-content" placeholder="Enter Your Comments" maxlength="140"></textarea>
                                    <h6 class="your-rating-notify">at least 140 characters</h6>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 mr-auto">
                                        <div class="add-photos-link mb-3 mb-md-0">

                                            <input type="file" class="icon-picture" multiple="multiple" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="your-rating-btn">
                                            <button type="submit" class="btn btn-danger btn-block">Publish Review</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="booking-checkbox_wrap my-4">
                    <h4>Comments</h4>
                    <hr>
                    @foreach (var item in Model.Comments)
                    {
                        <div class="customer-review_wrap">
                            <div class="customer-img">
                                @if (@item.User.Photo == null)
                                {
                                    <img src="/Public/images/avatar.jpg" class="img-fluid" alt="avatar.jpg">
                                }
                                else
                                {
                                    <img src="/Public/images/UserPhoto/@item.User.Photo" class="img-fluid" alt="@item.User.Photo">
                                }

                                <p>@item.User.FullName</p>

                            </div>
                            <div class="customer-content-wrap">
                                <div class="customer-content">
                                    <div class="customer-review">

                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="round-icon-blank"></span>

                                        @{ TimeSpan s = DateTime.Now.Subtract(item.Time);}
                                        @if (item.Time.Day == DateTime.Now.Day)
                                        {
                                            <p> @item.Time.ToString("HH:mm:ss")</p>

                                        }
                                        else if (s.TotalDays >= 1 && s.TotalDays < 2)
                                        {
                                            <p>1 gün əvvvəl </p>
                                        }
                                        else if (s.TotalDays > 2 && s.TotalDays < 3)
                                        {
                                            <p> 2 gün əvvvəl</p>
                                        }
                                        else if (s.TotalDays > 3 && s.TotalDays < 4)
                                        {
                                            <p> 3 gün əvvvəl</p>
                                        }
                                        else
                                        {
                                            <p>  @item.Time.ToString("HH:mm:ss dd/MMM/yyyy")</p>

                                        }

                                    </div>
                                    <div class="customer-rating">@item.Rating</div>
                                </div>
                                <p class="customer-text">
                                    @item.Text
                                </p>
                                <ul>

                                    @foreach (var photo in item.CommentPhotos)
                                    {
                                        if (photo.Photo != null)
                                        {
                                            <li><img src="/Public/images/CommentPhoto/@photo.Photo" class="img-fluid" alt="@photo.Photo"></li>
                                        }

                                    }

                                </ul>
                                <span>@item.Reactions.Count() people marked this review as helpful</span>
                                <button type="button" style="cursor: pointer;border: 0px;padding: 6px; overflow: hidden;border-radius: 5px;" id="like"><span class="icon-like"></span>Helpful</button>
                            </div>
                        </div>
                        <hr>
                    }

                </div>
            </div>
            <div class="col-md-4 responsive-wrap">
                <div class="contact-info">
                    <div id="map" style="height: 300px;width: 350px" data-lat="@Model.Listing.Lat" data-lon="@Model.Listing.Lng" data-zoom="13"></div>
                    <div class="address">
                        <span class="icon-location-pin"></span>
                        <p> @Model.Listing.City.Name<br> @Model.Listing.Address<br> </p>
                    </div>
                    <div class="address">
                        <span class="icon-screen-smartphone"></span>
                        <p> @Model.Listing.Phone</p>
                    </div>
                    <div class="address">
                        <span class="icon-link"></span>
                        <a href="@Model.Listing.Website" style="margin-left: 18px">
                            @Model.Listing.Website
                        </a>

                    </div>
                    <div class="address" style="height: 33px">
                        <span class="icon-clock"></span>
                        @foreach (var hour in Model.Listing.WorkHourses.ToList())
                        {

                            DateTime dt1 = DateTime.ParseExact(@hour.OpenHour.ToString(), "HH:mm:ss", new DateTimeFormatInfo());
                            DateTime dt2 = DateTime.ParseExact(@hour.CloseHour.ToString(), "HH:mm:ss", new DateTimeFormatInfo());



                            if (@hour.WeekNo == DayOfWeek.Wednesday.ToString().ToLower())
                            {
                                if (@dt1.TimeOfDay < DateTime.Now.TimeOfDay && DateTime.Now.TimeOfDay < dt2.TimeOfDay)
                                {
                                    <span class="open-close_green" style="font-size: 15px;margin-left: 18px">Open Now </span>

                                }
                                else
                                {
                                    <span style="font-size: 15px;margin-left: 18px"> Closed Now </span>

                                }
                            }





                        }

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!--//END BOOKING DETAILS -->
@section css{
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <!-- Star Rating Icon -->
    <link href="~/Public/css/star-rating.min.css" rel="stylesheet" />
    <link href="~/Public/css/theme.min.css" rel="stylesheet" />
}

@section scripts{
    <script>
        var swiper = new Swiper('.swiper-container',
            {
                slidesPerView: 3,
                slidesPerGroup: 3,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>


    <script>
        $(document).ready(function () {
            var maplat = $('#map').data('lat');
            var maplon = $('#map').data('lon');
            var mapzoom = $('#map').data('zoom');
            var title = $("#placeN").text();


            var map;

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'),
                    {
                        center: { lat: maplat, lng: maplon },
                        zoom: mapzoom
                    });


            }

            initMap();
            mark();

            function mark() {
                var marker = new google.maps.Marker({
                    position: { lat: maplat, lng: maplon },
                    title: title,
                    animation: google.maps.Animation.DROP,
                    draggable: false,
                    map: map
                });
            }


            console.log($("#input-1").text());
            $("#commentForm").submit(function (ev) {
                ev.preventDefault();
                $.ajax({
                    url: $(this).attr("action"),
                    type: $(this).attr("method"),
                    dataType: "json",
                    data: $(this).serialize(),
                    success: function (response) {
                        console.log(response);
                    },
                    error: function () {

                    }
                });
            });

        });

        $(document).on('ready',
            function () {
                $('#input-1').rating();
            });
        $(document).on('ready', function () {
            $("#input-1").rating().on("rating:clear", function () {
                alert("Your rating is reset");
            }).on("rating:change", function (event, value, caption) {
                alert("You rated: " + value + " = " + $(caption).text());
            });
        });

    </script>



}