@using System.Globalization
@model List<Navigation.Models.Listing>
@{
    ViewBag.Title = "Profile";
}



<section class="main-block featured-wrap">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="title-block">
                    <h2>Paylaşdığınız Yerlər</h2>
                    <p>These listings are featured and rated popular by our community</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                
                <div class="col-md-4 card-1">
                    <div class="card">
                        @foreach (var photo in @item.Photos.ToList().Take(1))
                        {
                            <a href="@Url.Action("detail", "SearchPlace", new {id = @item.Id})">
                                <img class="card-img-top" src="~/Public/images/PlacePhoto/@photo.PlacePhoto" alt="Card image cap">
                            </a>
                            
                        }
                           
                        <div class="card-body">
                            <h5 class="card-title">@item.Title <span style="float: right"><i class="fa @(item.Status? "fa-check-circle-o text-success":"fa-times-circle-o text-danger")"></i></span></h5>
                            <ul class="card-rating d-flex justify-content-between align-items-center">
                                <li class="card-rating-green">4.5</li>
                                <li class="flex-grow-1">51 ratings</li>
                                <li class="category"><i class="fa fa-coffee"></i> @item.Category.Name</li>
                            </ul>
                            <p class="card-text">
                                @item.Slogan
                            </p>
                        </div>
                        <div class="card-bottom">
                            <p><i class="ti-location-pin"></i>@item.City.Name</p>
                            @foreach (var hour in item.WorkHourses.ToList())
                            {
                                
                                DateTime dt1 = DateTime.ParseExact(@hour.OpenHour.ToString(), "HH:mm:ss", new DateTimeFormatInfo());
                                DateTime dt2 = DateTime.ParseExact(@hour.CloseHour.ToString(), "HH:mm:ss", new DateTimeFormatInfo());

                              
                                
                                if (@hour.WeekNo == DayOfWeek.Wednesday.ToString().ToLower())
                                {   
                                    if (@dt1.TimeOfDay < DateTime.Now.TimeOfDay && DateTime.Now.TimeOfDay < dt2.TimeOfDay)
                                    {
                                        <span class="open-close_green">Open Now </span>

                                    }
                                    else
                                    {
                                        <span> Closed Now </span>

                                    }
                                }

                               

                            

                             }

                        </div>
                    </div>
                </div>
            }
            

          

        </div>
    </div>
</section>