@using System.Globalization
@model List<Navigation.Models.searchPlace>
@{
    ViewBag.Title = "Profile";
}



<section class="main-block featured-wrap">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="title-block">
                    <h2>Paylaşdığınız Yerlər</h2>
                    <p>These listings are featured and rated popular by our community</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
               
                
                <div class="col-md-4 card-1">
                    <div class="card">
                       
                            
                            <a href="@Url.Action("detail", "SearchPlace", new {id = @item.id})">
                                <img class="card-img-top" style="height: 170px" src="~/Public/images/PlacePhoto/@item.photo" alt="Card image cap">
                            </a>

                      

                        <div class="card-body">
                            <h5 class="card-title">@item.title <span style="float: right"><i class="fa @(item.status? "fa-check-circle-o text-success":"fa-times-circle-o text-danger")"></i></span></h5>
                            <ul class="card-rating d-flex justify-content-between align-items-center">

                                @if (item.commentRat != null)

                                {

                                    <li class="card-rating-green">@item.commentRat</li>


                                }
                                else
                                {
                                    <li class="card-rating-green">0</li>
                                }



                                <li class="flex-grow-1">@item.commentCount ratings</li>
                                <li class="category"><i class="fa @item.categoryIcon"></i> @item.category</li>
                            </ul>
                            <p class="card-text">
                                @item.slogan
                            </p>
                        </div>
                        <div class="card-bottom">
                            <p><i class="ti-location-pin"></i>@item.city</p>
                            @foreach (var hour in item.hours.ToList())
                            {

                                DateTime dt1 = DateTime.ParseExact(@hour.OpenHour.ToString(), "HH:mm:ss", new DateTimeFormatInfo());
                                DateTime dt2 = DateTime.ParseExact(@hour.CloseHour.ToString(), "HH:mm:ss", new DateTimeFormatInfo());



                                if (@hour.WeekNo == DayOfWeek.Wednesday.ToString().ToLower())
                                {
                                    if (@dt1.TimeOfDay < DateTime.Now.TimeOfDay && DateTime.Now.TimeOfDay < dt2.TimeOfDay)
                                    {
                                        <span class="open-close_green">Open Now </span>

                                    }
                                    else
                                    {
                                        <span> Closed Now </span>

                                    }
                                }





                            }

                        </div>
                    </div>
                </div>
            }
            

          

        </div>
    </div>
</section>